header {
  background-color: $green;
  border-bottom: 2.5em $yellow solid;
  height: 100px;

  h1 {
    color: #fff;
    font-size: 4.5em;
    margin: 0;
    padding-top: .5em;
    text-align: center;
    text-shadow: .08em .09em 0 #006633;
  }
}